body footer,
body .demo-web {
  max-width: 1080px;
  padding: 15px;
  margin: auto;
}
body .demo-web h1 {
  background: #aaa;
  width: 200px;
  height: 80px;
}
body .demo-web hr {
  background: #aaa;
  height: 15px;
  margin-bottom: 12px;
  bordeR: 0;
}
body .demo-web nav {
  display: table;
  width: 100%;
}
body .demo-web nav hr {
  box-sizing: border-box;
  padding: 15px 5px;
  width: 15%;
  display: table-cell;
  position: relative;
  margin: 0;
  background: transparent;
}
body .demo-web nav hr:first-child {
  padding-left: 0;
}
body .demo-web nav hr:before {
  content: '';
  background: #9a9a9a;
  display: block;
  height: 30px;
}
body footer {
  text-align: right;
}
body.dark {
  background: #333;
}
